doctype html
html(ng-app="kbgdApp",lang="ru")
	head
    meta(charset="utf-8")
		title {{.PageTitle}}
		link(rel="stylesheet", href="/public/bootstrap-3.3.4/css/bootstrap.min.css")
		script(type='text/javascript',src="/public/js/angular.min.js")
		script(type='text/javascript',src="/public/js/ui-bootstrap-tpls-0.13.0.min.js")
		script(type='text/javascript',src='/public/js/angular-locale_ru-ru.js')
		script(type="text/javascript",src="/public/js/kbgd.js")

  body
		h1 {{.PageTitle}}
		div(ng-controller="KbgdCtrl")
			form(method="POST",action="/kbgd/newvaucher")
				div(class="row", style="margin-bottom: 10px;")
					div(class="col-sm-8",style="padding-top: 7px;")
						label Клиент
						input(name="client",id="client",value="Полиграф Полиграфович",class="form-control")
					div(class="col-sm-4",style="padding-top: 7px;")
						p(class="input-group")
				    	  input(type="text",class="form-control", style="width: 200px;",ng-model="deal_date",name="deal_date",id="deal_date",value="{{.DealDate}}",datepicker-popup="d MMMM yyyy", show-button-bar="false", show-weeks="false", is-open="deal_date_opened", min-date="minDate", max-date="'2017-09-22'",datepicker-options="dateOptions", ng-required="true", close-text="Закрыть")
						    span(class="input-group-btn")
				            button(type="button", class="btn btn-default", ng-click="open($event)")
								      i(class="glyphicon glyphicon-calendar")




				label(for="train") Номер поезда
				input(name="train",id="train",value="{{.Train}}",class="form-control")

				br

				label(for="category") Категория
				select(name="category",id="category",class="form-control")
					range .Categories
					  option(value="{{.Idx}}") {{.Value}}

				br

				label(for="wagon") Вагон
				input(name="wagon",id="wagon",value="1",class="form-control")

				br

				label(for="seats") Места
				input(name="seats",id="seats",value="1,2",class="form-control")

				br

				label(for="meal") Питание
				select(name="meal",id="meal",class="form-control")
					range .Meals
					  option(value="{{.Idx}}") {{.Value}}

				br

				label(for="trip_date") Дата путешествия
				input(name="trip_date",id="trip_date",value="{{.TripDate}}",class="form-control")

				br

				label(for="start_place") Отправление от
				select(name="start_place",id="start_place")
					range .StartPlaces
					  option(value="{{.Idx}}") {{.Value}}

				br

				label(for="start_time") Время отправления
				input(name="start_time",id="start_time",value="{{.StartTime}}")

				br

				label(for="day") День
				select(name="day",id="day")
					range .Days
					  option(value="{{.Idx}}") {{.Value}}

				br

				label(for="phones") Телефоны туриста
				input(name="phones",id="phones",value="+7 914 955 5198")

				br

				label(for="salesman") Продавец
				select(name="salesman",id="salesman")
					range .Salesmen
					  option(value="{{.Idx}}") {{.Value}}

				br

				label(for="tourists") Туристы
				textarea(name="tourists",id="tourists",rows="5",cols="40")

				br

				label(for="adults") Взрослых
				select(name="adults",id="adults")
					range .Adults
					  option(value="{{.}}") {{.}}


				label(for="children") Детей
				select(name="children",id="children")
					range .Children
					  option(value="{{.}}") {{.}}

				br

				label(for="lagguge") Места для багажа
				select(name="lagguge",id="lagguge")
					range .Lagguge
					  option(value="{{.}}") {{.}}

				label(for="ferry") Паром
				select(name="ferry",id="ferry")
					range .Ferry
					  option(value="{{.}}") {{.}}



				label(for="bus") Автобус
				select(name="bus",id="bus")
					range .Bus
					  option(value="{{.}}") {{.}}



				label(for="breakfast") Завтрак
				input(type="checkbox",name="breakfast",id="breakfast")

				label(for="lunch") Обед
				input(type="checkbox",name="lunch",id="lunch")



				label(for="dinner") Ужин
				input(type="checkbox",name="dinner",id="dinner")


				label(for="lunchbox") Lunch box
				input(type="checkbox",name="lunchbox",id="lunchbox")

				br

				label(for="price") Цена
				input(name="price",id="price",value="{{.Price}}")

				label(for="stamp") Печать
				input(type="checkbox",name="stamp",id="stamp")

				br

				input(type="submit",value="Сгенерировать")
