doctype xhtml
html(lang="ru")
	head
    meta(charset="utf-8")
		title {{.PageTitle}}
  body
		h1 {{.PageTitle}}
		p
      span Ваучер был сгенерирован.
      br
      a(href="/kbgd") Сделать еще один.
      span |
      a(href="/kbgd/download") Cкачать ваучер
