<!DOCTYPE html>
<html ng-app="kbgdApp" lang="ru">
	<head>
    <meta charset="utf-8">
		<title> {{.PageTitle}} </title>
		<link rel="stylesheet" href="/public/bootstrap-3.3.4/css/bootstrap.min.css">
		<script type='text/javascript' src="/public/js/angular.min.js"></script>
		<script type='text/javascript' src="/public/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
		<script type='text/javascript' src='/public/js/angular-locale_ru-ru.js'></script>
		<script type="text/javascript" src="/public/js/kbgd.js"></script>
  </head>
  <body>
		<h1 style="width: 90%; margin: 15px auto;"> {{.PageTitle}}</h1>
		<div ng-controller="KbgdCtrl" ng-init="configStart('day')" style="width: 90%; margin: 15px auto;">
			<form method="POST" action="/kbgd/newvaucher" onsubmit="javascript:return false;">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-sm-7" style="padding-top: 7px;">
						<label> Клиент </label>
							<input type="text" name="client" id="client" ng-model="client" ng-style="{'background-color':clientBg}" placeholder="Иванов Иван Иваныч" class="form-control" />
					</div>
					<div class="col-sm-2" style="padding-top: 7px;">
						<label for="salesman"> Продавец</label>
						<select name="salesman" id="salesman" ng-init="salesman = 0" ng-model="salesman" class="form-control">
							{{range .Salesmen}}
							  <option value="{{.Idx}}"> {{.Value}}</option>
							{{end}}
		        </select>

					</div>
					<div class="col-sm-1" style="padding-top: 7px;">
						<label for="stamp"> Печать
							<input type="checkbox" name="stamp" id="stamp" ng-model="stamp" class="form-control" />
						</label>
				  </div>
					<div class="col-sm-2" style="padding-top: 7px;">
						<label> Дата продажи </label>
						<p class="input-group" style="width: 220px;">
				      <input type="text" class="form-control" ng-model="deal_date" name="deal_date" id="deal_date" value="{{.DealDate}}" datepicker-popup="d MMMM yyyy" show-button-bar="false" show-weeks="false" is-open="deal_date_opened" min-date="minDate" max-date="'2099-09-22'" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть" />
						  <span class="input-group-btn">
				        <button type="button" class="btn btn-default" id="deal_date_button" ng-click="openCal($event)" style="z-index:2;">
								  <i class="glyphicon glyphicon-calendar" id="deal_date_glyph"></i>
								</button>
							</span>
            </p>
					</div>
				</div>

				<div class="row" style="margin-bottom: 10px;">
					<div class="col-sm-1">
						<label for="train" style="font-size: 10px;"> Номер поезда</label>
						<input type="text" name="train" id="train" ng-model="train" value="{{.Train}}" class="form-control" />
          </div>
          <div class="col-sm-1">
						<label for="category"> Категория</label>
						<select name="category" id="category" ng-init="category = 1" ng-model="category" class="form-control">
							{{range .Categories}}
							  <option value="{{.Idx}}">{{.Value}}</option>
							{{end}}
		        </select>
				  </div>
					<div class="col-sm-1">
						<label for="wagon">Вагон</label>
							<input name="wagon" id="wagon" value="1" ng-model="wagon" class="form-control" />

					</div>
					<div class="col-sm-1">
						<label for="seats"> Места </label>
						<input type="text" name="seats" id="seats" value="1,2" ng-model="seats" class="form-control" />
          </div>
					<!--<div class="col-sm-1">
						<label for="meal"> Питание </label>
						<select name="meal" id="meal" class="form-control">
							{{range .Meals}}
							  <option value="{{.Idx}}"> {{.Value}}</option>
							{{end}}
		        </select>
				  </div>-->
					<div class="col-sm-2">
						<label for="trip_date"> Дата путешествия </label>
						<p class="input-group" style="width: 190px;">
				      <input type="text" class="form-control" ng-model="trip_date" name="trip_date" id="trip_date" value="{{.TripDate}}" datepicker-popup="d MMMM yyyy" show-button-bar="false" show-weeks="false" is-open="trip_date_opened" min-date="minDate" max-date="'2099-09-22'" datepicker-options="dateOptions" ng-required="true" ng-change="configStart('date')" date-disabled="disabled(date,'day')" close-text="Закрыть"   />
						  <span class="input-group-btn">
				        <button type="button" class="btn btn-default" id="trip_date_button" ng-click="openCal($event)">
								  <i class="glyphicon glyphicon-calendar" id="trip_date_glyph"></i>
								</button>
							</span>
            </p>
          </div>
					<div class="col-sm-2">
						<label for="start_place"> Отправление от </label>
						<select name="start_place" id="start_place" class="form-control" ng-init="start_place = 1" ng-model="start_place">
							{{range .StartPlaces}}
							  <option value="{{.Idx}}")> {{.Value}}</option>
							{{end}}
		        </select>
				  </div>
					<div class="col-sm-1">
						<label for="start_time"> Время</label>
						<input type="text" name="start_time" id="start_time" value="{{.StartTime}}" ng-model="start_time" class="form-control" />
          </div>
					<div class="col-sm-2">
   					<label for="day">День</label>
						<select name="day" id="day" class="form-control" ng-init="day = day" ng-model="day" ng-change="configStart('day',null)">
							{{range .Days}}
							  <option value="{{.Idx}}"> {{.Value}} </option>
							{{end}}
		        </select>
					</div>
					<div class="col-sm-1">
						<label for="price"> Цена</label>
						<input name="price" id="price" placeholder="{{.Price}}" ng-model="price" class="form-control" />
          </div>
				</div>

				<div class="row">
					<div class="col-sm-1">
						<label for="adults"> Взрослых</label>
						<select name="adults" id="adults" ng-init="adults = 2" ng-model="adults" class="form-control">
							{{range .Adults}}
							  <option value="{{.}}"> {{.}}</option>
		          {{end}}
		        </select>
					</div>
					<div class="col-sm-1">
						<label for="children"> Детей</label>
						<select name="children" id="children" ng-init="children = 0" ng-model="children" class="form-control">
							{{range .Children}}
							  <option value="{{.}}"> {{.}} </option>
							{{end}}
		        </select>
				  </div>
					<div class="col-sm-1">
						<label for="lagguge"> Багаж</label>
						<select name="lagguge" id="lagguge" ng-init="lagguge = 0" ng-model="lagguge" class="form-control">
							{{range .Lagguge}}
							  <option value="{{.}}"> {{.}}</option>
							{{end}}
		        </select>
					</div>
					<div class="col-sm-1">
						<label for="ferry"> Паром</label>
						<select name="ferry" id="ferry" ng-init="ferry = 2" ng-model="ferry" class="form-control">
							{{range .Ferry}}
							  <option value="{{.}}"> {{.}}</option>
		          {{end}}
						</select>
					</div>
					<div class="col-sm-1">
						<label for="bus"> Автобус</label>
						<select name="bus" id="bus" ng-init="bus = 2" ng-model="bus" class="form-control">
							{{range .Bus}}
							  <option value="{{.}}"> {{.}}</option>
		          {{end}}
						</select>
					</div>
					<div class="col-sm-1">
						<label for="breakfast"> Завтрак
							<input type="checkbox" name="breakfast" id="breakfast" ng-model="Meals.breakfast" class="form-control" />
						</label>
				  </div>
					<div class="col-sm-1">
						<label for="lunch"> Обед
							<input type="checkbox" name="lunch" id="lunch" ng-model="Meals.lunch" class="form-control" />
						</label>
					</div>
					<div class="col-sm-1">
						<label for="dinner"> Ужин
							<input type="checkbox" name="dinner" id="dinner" ng-model="Meals.dinner" class="form-control" />
						</label>
					</div>
					<div class="col-sm-1">
						<label for="lunchbox"> Lunch box
							<input type="checkbox" name="lunchbox" id="lunchbox" ng-model="Meals.lunchbox" class="form-control" />
						</label>
					</div>
					<div class="col-sm-3">
						<label for="phones"> Телефоны туриста</label>
						<input type="text" name="phones" id="phones" ng-model="phones" ng-style="{'background-color':phonesBg}" placeholder="+7 914 555 5555" class="form-control"/>
					</div>
				</div>
        <div class="row">
					<div class="col-sm-8">
						<label for="tourists"> Туристы</label>
							<textarea name="tourists" id="tourists" rows="5" style="width: 80%;" ng-style="{'background-color':touristsBg}" ng-model="tourists" class="form-control"></textarea>

				  </div>
					<div class="col-sm-4" style="padding-top: 50px;">
						<button class="btn btn-success" ng-click="processData()" style="width: 80%;font-size: 20pt;" >Сгенерировать</button>
					</div>
				</div>



  </body>
</html>
